<!DOCTYPE html>
<html>
<head>
  <title>ShoppePromo</title>
  <%= stylesheet_link_tag    "shoppe_promo/application", media: "all" %>
  <%= javascript_include_tag "shoppe_promo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
